@import "../scssImports/_oa";

@include keyframes(running-dice) {
  0% {
    @include transform(translateZ(-100px) rotateX(0deg) rotateY(0deg));
  }
  50% {
    @include transform(translateZ(-100px) rotateX(360deg) rotateY(0deg));
  }
  100% {
    @include transform(translateZ(-100px) rotateX(360deg) rotateY(360deg));
  }
}

#runDice {
  position: absolute;
  width: 200px;
  height: 200px;
  @include perspective(200px);

  #dice {
    position: relative;
    width: 100%;
    height: 100%;
    @include transform-style(preserve-3d);

    &.running { 
      -webkit-animation-name: running-dice; 
      -webkit-animation-duration: 0.5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: running-dice; 
      -moz-animation-duration: 0.5s; 
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      animation-name: running-dice; 
      animation-duration: 0.5s; 
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    &.show1 { @include transform(translateZ(-100px) rotateY(0deg)); }
    &.show6 { @include transform(translateZ(-100px) rotateX(-180deg)); }
    &.show2 { @include transform(translateZ(-100px) rotateY(-90deg)); }
    &.show5 { @include transform(translateZ(-100px) rotateY(90deg)); }
    &.show3 { @include transform(translateZ(-100px) rotateX(-90deg)); }
    &.show4 { @include transform(translateZ(-100px) rotateX(90deg)); }

    > div {
      position: absolute;
      width: 200px;
      height: 200px;
      background-image: url('img/dice-compressor.png');
      border-radius: 30px;
      border: 1px solid #ccc;
      @include opacity(.75);

      &.front { background-position: -12px -12px; @include transform(rotateY(0deg) translateZ(100px));}
      &.back { background-position: -463px -239px; @include transform(rotateX(180deg) translateZ(100px));}
      &.right { background-position: -236px -12px; @include transform(rotateY(90deg) translateZ(100px));}
      &.left { background-position: -241px -235px; @include transform(rotateY(-90deg) translateZ(100px));}
      &.top { background-position: -459px -12px; @include transform(rotateX(90deg) translateZ(100px));}
      &.bottom { background-position: -12px -235px; @include transform(rotateX(-90deg) translateZ(100px));}
    }
  }
}