@import "_oa";

#message {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 5px;
  &.haveChatForm {
    margin-bottom: 30px;
  }

  border-top: 1px solid rgba(40, 40, 40, .5);
  background-color: rgba(255, 255, 255, .95);
  overflow-y: auto;

  @include border-radius(2px);
  @include transition(all .3s);
  @include box-shadow(inset 0 1px 5px rgba(0, 0, 0, 0.2));

  text-align: left;

  ol {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  button.toggleFilter {
    position: fixed;
    right: 20px;
    bottom: 5px;
    margin: 0;
  }
  &.haveChatForm button.toggleFilter {
    bottom: 35px;
  }
}

#message_chat {
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;

  margin: 0;
  padding: 0 5px 0 5px;
  display: flex;

  input {
    flex: 1;
    width: 100%;
  }
}